img{
    position: relative;
    height: auto;
    width: 1500px;

}
h1{
    font-size: 44px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(25, 1, 1);
    
    
}

p{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(25, 1, 1);
}

html{
    background-color: rgb(229, 232, 235);
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#area{
    position:relative;
    left: 10%;
   
}
